node-red-server/data/.flows.json.backup
[
    {
        "id": "849967b3934f8835",
        "type": "tab",
        "label": "business-1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "00e808b2fb8a7be7",
        "type": "debug",
        "z": "849967b3934f8835",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 120,
        "wires": []
    },
    {
        "id": "4ad248d950ded34c",
        "type": "http in",
        "z": "849967b3934f8835",
        "name": "",
        "url": "/foobar",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "00e808b2fb8a7be7",
                "b7c6a2fe91ce7bca"
            ]
        ]
    },
    {
        "id": "d3898fa57486579c",
        "type": "http response",
        "z": "849967b3934f8835",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "b7c6a2fe91ce7bca",
        "type": "function",
        "z": "849967b3934f8835",
        "name": "handle foobar payload",
        "func": "console.log('>>>', msg)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 220,
        "wires": [
            [
                "d3898fa57486579c"
            ]
        ]
    },
    {
        "id": "84178fdf4904dd5f",
        "type": "http in",
        "z": "849967b3934f8835",
        "name": "",
        "url": "/auth",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "4a97bc50a0a85dc2",
                "a8d2cdd34136eeda"
            ]
        ]
    },
    {
        "id": "4a97bc50a0a85dc2",
        "type": "delay",
        "z": "849967b3934f8835",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 340,
        "wires": [
            [
                "1f9cd1fc4a461aaa"
            ]
        ]
    },
    {
        "id": "a8d2cdd34136eeda",
        "type": "debug",
        "z": "849967b3934f8835",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 380,
        "y": 400,
        "wires": []
    },
    {
        "id": "1f9cd1fc4a461aaa",
        "type": "function",
        "z": "849967b3934f8835",
        "name": "handle post auth",
        "func": "console.log('>>>', msg);\nmsg.foo = 'bar';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 340,
        "wires": [
            [
                "3e16d9ca15e8c8e4"
            ]
        ]
    },
    {
        "id": "3e16d9ca15e8c8e4",
        "type": "http response",
        "z": "849967b3934f8835",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 760,
        "y": 340,
        "wires": []
    }
]