node-red-server/data/flows.json
[{"id":"10eb3f1e.53bcd1","type":"tab","label":"test-api","disabled":false,"info":""},{"id":"e4aee535.620138","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bb14e73d.842368","type":"inject","z":"10eb3f1e.53bcd1","name":"inject json","topic":"","payload":"{\"foo\":{\"bar\":\"baz\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["f64b63c5.563b"]]},{"id":"9b4fa9c6.5b8928","type":"debug","z":"10eb3f1e.53bcd1","name":"debug handler output","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":630,"y":60,"wires":[]},{"id":"f64b63c5.563b","type":"function","z":"10eb3f1e.53bcd1","name":"handler","func":"console.log(msg);\nmsg.payload.miao = 'mi';\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":60,"wires":[["9b4fa9c6.5b8928"]]},{"id":"74a80dfe.1e2044","type":"http in","z":"10eb3f1e.53bcd1","name":"testApi","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":70,"y":180,"wires":[["2f2cb6b2.9a1caa"]]},{"id":"d10afd80.8e6ef","type":"http response","z":"10eb3f1e.53bcd1","name":"testResp","statusCode":"","headers":{"content-type":"application/json"},"x":480,"y":180,"wires":[]},{"id":"3672bdac.17f8a2","type":"function","z":"10eb3f1e.53bcd1","name":"testHandler","func":"msg.foo = 'baz';\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["d10afd80.8e6ef"]]},{"id":"2f2cb6b2.9a1caa","type":"http request","z":"10eb3f1e.53bcd1","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":320,"wires":[["6a20812d.98cc8"]]},{"id":"6a20812d.98cc8","type":"csv","z":"10eb3f1e.53bcd1","name":"","sep":",","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":450,"y":320,"wires":[["ff735b07.649098"]]},{"id":"21a67807.81b6b8","type":"inject","z":"10eb3f1e.53bcd1","name":"","topic":"","payload":"\"info\"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["2f2cb6b2.9a1caa"]]},{"id":"2bde0e68.b25962","type":"switch","z":"10eb3f1e.53bcd1","name":"filter","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"6","vt":"num"},{"t":"lt","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":740,"wires":[["47c7bad.4859744"],[]],"icon":"node-red/arrow-in.svg"},{"id":"47c7bad.4859744","type":"change","z":"10eb3f1e.53bcd1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":740,"wires":[["89a1d1b0.d9e1b"]]},{"id":"89a1d1b0.d9e1b","type":"debug","z":"10eb3f1e.53bcd1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":740,"wires":[]},{"id":"ff735b07.649098","type":"http response","z":"10eb3f1e.53bcd1","name":"testResp","statusCode":"","headers":{"content-type":"application/json"},"x":640,"y":320,"wires":[]},{"id":"64bea3b8.0d698c","type":"debug","z":"10eb3f1e.53bcd1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":380,"wires":[]},{"id":"5fafbb0a.fc47c4","type":"http in","z":"10eb3f1e.53bcd1","name":"post foo bar","url":"/foo/:name","method":"post","upload":false,"swaggerDoc":"","x":90,"y":500,"wires":[["e55061ab.18f4c"]]},{"id":"beb2e34d.cd1af","type":"debug","z":"10eb3f1e.53bcd1","name":"debug msg","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":590,"y":600,"wires":[]},{"id":"e55061ab.18f4c","type":"function","z":"10eb3f1e.53bcd1","name":"handle post foo bar","func":"const {\n    req,\n    res\n} = msg;\n\nconst {\n    params,\n    query,\n    body\n} = req;\n\nconst info = { params, query, body };\n\n// res.json(info);\nres.redirect('https://www.baidu.com');","outputs":1,"noerr":0,"x":310,"y":500,"wires":[["ab769756.c5a428"]],"inputLabels":["request"],"outputLabels":["response"],"info":"handle input http request split as params, query and body\n\n`request`"},{"id":"47c79154.bdee1","type":"json","z":"10eb3f1e.53bcd1","name":"parse body from handler","property":"body","action":"obj","pretty":true,"x":990,"y":400,"wires":[["c2807e43.f66f5"]]},{"id":"ab769756.c5a428","type":"http response","z":"10eb3f1e.53bcd1","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":530,"y":500,"wires":[]},{"id":"c2807e43.f66f5","type":"function","z":"10eb3f1e.53bcd1","name":"","func":"const payload = msg.body\nreturn payload;","outputs":1,"noerr":0,"x":1210,"y":400,"wires":[[]]}]